.Card {
    background-color: black;
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 300px;
}

.Card .Title {
    font-weight: bold;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.Card .Content {
    background-color: lightgoldenrodyellow;
    color: black;
    padding: 15px;
    justify-content: center;
    flex: 1;
}